<% unless flash.empty? %>
<script type="text/javascript">
    // <% if flash[:success] %>
    //   var $toastContent = $('<span><%= flash[:success] %></span>');
    //   toastr.success($toastContent)
    // <% end %>
    // <% if flash[:info] %>
    //   var $toastContent = $('<span><%= flash[:info] %></span>');
    //   toastr.info($toastContent)
    // <% end %>
    // <% if flash[:warning] %>
    //   var $toastContent = $('<span><%= flash[:warning] %></span>');
    //   toastr.warning($toastContent)
    // <% end %>
    // <% if flash[:danger] %>
    //   var $toastContent = $('<span><%= flash[:danger] %></span>');
    //   toastr.error($toastContent)
    // <% end %>
  <% flash.each do |key, value| %>
    <% type = key.to_s.gsub('alert','error').gsub('notice','success') %>
    toastr['<%= type %>']('<%= value %>');
  <% end %>
</script>
<% end %>