<div class="container">
    <%= render "layouts/search_form"%>
</div>

<div class="index">
    <h1 class="page-header text-center ">Hardcourt Collectors</h1>
    
        <!--Grid row setup for cards -->
                <div class="row">
                    <% @cards.each do |card| %>
                        <% if !card.purchased %>
                        <!--Grid column setup for cards -->
                            <div class="col-md-4 mb-4 d-flex align-items-stretch">
                                <div class="card listing border-right border-bottom">
                                    <%= link_to (image_tag(card.picture, :class => 'card-img-top') if card.picture.attached?), card_path(card.id) %> 
                                    <div class="card-body">
                                        <h5 class="card-title"><%= card.title %></h5>
                                        <p class="card-price"><%= number_to_currency(card.price) %></p>
                                        <%= link_to 'View Card', card_path(card.id), class: "btn btn-primary" %>
                                    </div>
                                </div>
                            </div>
                        <% end %>
                    <% end %>
                </div>
            
        <%= will_paginate @cards %>
    </div>
</div>


