<h1>Sell Card</h1>

<%= form_with scope: :card, url: cards_path, local: true do |form| %>
      
    <p>
        <%= form.label :title %>
        <%= form.text_field :title %>
    </p>

    <p>
        <%= form.label :description %>
        <%= form.text_area :description %>
    </p>

    <p>
        <%= form.label :price %>
        <%= form.number_field :price %>
    </p>

    <p>
        <%= form.label :condition %>
        <%= form.select :condition, Card::conditions %>
    </p>

    <p>
        <%= form.label :manufacturer %>
        <%= form.select :manufacturer, Card::manufacturers %>
    </p>

    <p>
        <%= form.label :season_id %>
        <%= form.select(:season_id, @seasons.map{ |s| [s.years, s.id] }) %>
    </p>

    <p>
        <%= form.label :team_id %>
        <%=  %>
        <%= form.select(:team_id, @teams.order(team: :asc).map{ |t| [t.team, t.id] }) %>
    </p>

    
    <p>Placeholder for image upload</p>

    <%= form.submit "Sell Card"%>

<% end %>
    