<section class="container card-show">
    <div class="row">
        <div class='col-md-8'>
            <div class="bg-light text-dark">
                <h2 class=""><%= @card.title %></h2>
            
        
            
                <%= image_tag(@card.picture, :class => 'show-img') if @card.picture.attached? %>
        

                <div class="">

                    <h3 class="">Description</h3>
                    <%= @card.description %>  


                    <h3>Product Details</h3>
                    <table class="table bg-light">            
                        <tr>
                            <td class="font-weight-bold">Condition:</td>
                            <td class=""><%=@card.condition.capitalize%></td>
                        </tr>

                        <tr>
                            <td class=" font-weight-bold">Manufacturer:</td>
                            <td class=""><%=@card.manufacturer.capitalize%></td>
                        </tr>

                        <tr>
                            <td class=" font-weight-bold">Season:</td>
                            <td class=""><%=@card.season_id%></td>
                        </tr>

                        <tr>
                            <td class=" font-weight-bold">Team:</td>
                            <td class=""><%=@card.team_id%></td>
                        </tr>
                    </table>
                
                </div>
            </div>
        </div>
        
    <div class=col-md-4>
        <h4 class="text-center"><%= number_to_currency(@card.price) %></h4>
        <p class="text-center">Sold by <%= @card.user_id %></p>
    </div>
    </div>
</section>


<% if user_signed_in? %>
            <button data-stripe="payment" class="">Buy Now</button>
            <script src="https://js.stripe.com/v3/"></script>
        <% else %>
            <button><%= link_to 'Buy Now', new_user_session_path  %></button>
        <% end %>
        
        <% if user_signed_in? && current_user.id == @card.user_id %>
            <%= button_to 'Destroy', card_path(@card),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
            <%= link_to 'Edit Listing', edit_card_path(@card) %>
        <% end %>

<script>
    document.querySelector("[data-stripe='payment']").addEventListener("click", () => {
        const stripe = Stripe("<%= Rails.application.credentials.dig(:stripe, :public_key) %>");
        stripe.redirectToCheckout({
            sessionId: "<%= @session_id %>"
        });
    });
</script>

