
<div class="grid-container">
    

    <%= image_tag(@card.picture, :class => 'show-img') if @card.picture.attached? %>

        <h2 class="card-title show-title"><%= @card.title %></h2> 
        <p class="card-description show-desc"><%= @card.description %></p>  
        <h3 class="card-price show-rate"><%= number_to_currency(@card.price) %></h3>
        <p class="show-rate rate">Seller rating PH</p>
        
        <% if user_signed_in? %>
            <button data-stripe="payment" class="">Buy Now</button>
            <script src="https://js.stripe.com/v3/"></script>
        <% else %>
            <button><%= link_to 'Buy Now', new_user_session_path  %></button>
        <% end %>
        
        <% if user_signed_in? && current_user.id == @card.user_id %>
            <%= button_to 'Destroy', card_path(@card),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
            <%= link_to 'Edit Listing', edit_card_path(@card) %>
        <% end %>

    <p>placeholder related products</p>
</div>

<script>
    document.querySelector("[data-stripe='payment']").addEventListener("click", () => {
        const stripe = Stripe("<%= Rails.application.credentials.dig(:stripe, :public_key) %>");
        stripe.redirectToCheckout({
            sessionId: "<%= @session_id %>"
        });
    });
</script>

