<img src="#" alt="placeholder for user image of card for sale">


<div class="gird-container">
    

    <%= image_tag @card.picture if @card.picture.attached? %>

        <h2 class="card-title"><%= @card.title %></h2> 
        <p class="card-description"><%= @card.description %></p>  
        <h3 class="card-price"><%= number_to_currency(@card.price) %></h3>
        <button>Buy Now PH</button>
        <button>Sell Similar PH</button>
        <p>Seller rating PH</p>

        <%= link_to 'Destroy', card_path(@card),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>


    <p>placeholder related products</p>
</div>

