<section class="container card-show">
    <div class="row">
        <div class='col-md-8'>
            <div class="bg-light text-dark">
                <h2 class=""><%= @card.title %></h2>
            
        
            
                <%= image_tag(@card.picture, :class => 'show-img') if @card.picture.attached? %>
        

                <div class="">

                    <h3 class="">Description</h3>
                    <%= @card.description %>  


                    <h3>Product Details</h3>
                    <table class="table bg-light">            
                        <tr>
                            <td class="font-weight-bold">Condition:</td>
                            <td class=""><%=@card.condition.capitalize%></td>
                        </tr>

                        <tr>
                            <td class=" font-weight-bold">Manufacturer:</td>
                            <td class=""><%=@card.manufacturer.capitalize%></td>
                        </tr>

                        <tr>
                            <td class=" font-weight-bold">Season:</td>
                            <td class=""><%=@card.season_id%></td>
                        </tr>

                        <tr>
                            <td class=" font-weight-bold">Team:</td>
                            <td class=""><%=@card.team_id%></td>
                        </tr>
                    </table>
                
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <h4 class="text-center"><%= number_to_currency(@card.price) %></h4>
            <p class="text-center">Sold by <%= @card.user.username %></p>

            <div class="row">
                <div class="col">
                <% if user_signed_in? %>
                    <button data-stripe="payment" class="btn btn-primary">Buy Now</button>
                    <script src="https://js.stripe.com/v3/"></script>
                    <%= button_to "Message #{@card.user.username}", conversations_path(sender_id: current_user.id, recipient_id: @card.user.id), method: "post", class: "btn btn-success" %>
                <% else %>
                    <%= button_to 'Buy Now', new_user_session_path, class: 'btn btn-primary'  %>
                <% end %>
                </div>
                
                
                <% if user_signed_in? && current_user.id == @card.user_id %>
                    <div class="col">
                        <%= button_to 'Edit Card', edit_card_path(@card), class: "btn btn-warning" %>
                    </div>
                    <div class="col">
                        <%= button_to 'Destroy', card_path(@card),
                            method: :delete, class: "btn btn-danger",
                            data: { confirm: 'Are you sure?' } %>
                    </div>
                <% end %>
            </div>
            
        </div>
    </div>
</section>

<script>
    document.querySelector("[data-stripe='payment']").addEventListener("click", () => {
        const stripe = Stripe("<%= Rails.application.credentials.dig(:stripe, :public_key) %>");
        stripe.redirectToCheckout({
            sessionId: "<%= @session_id %>"
        });
    });
</script>

